.navbar {
	margin-bottom: 0;
}

@media (min-height: 768px) {
	.table-fixed-height {
	  height: 400px;
	  overflow-y: auto;	
	}
}

@media (min-height: 838px) {
	.table-fixed-height {
	  height: 500px;
	  overflow-y: auto;	
	}
}

@media (max-height: 768px) {
	.table-fixed-height {
	  height: 300px;
	  overflow-y: auto;	
	}
}

.table-fixed-height table{
	margin-bottom: 0;
}

.table-head {
	margin-bottom: 0;
}

.menu-bar {
	height: 30px;
	margin:10px;
}

.main {
	padding-left: 40px;
	padding-right: 40px;
}


.right-bar, .left-bar {
    color: gray;
}

.right-bar {
    padding: 30px;
   	border-left: 1px solid #eeeeee;
}

.border-right {
	border-right: 1px solid #eeeeee;
}

.left-bar {
	z-index:2;
	background: #f5f5f5;
	float: left;
	border-right: 1px solid #ECECEC
}

.root-disk {
	padding-top: 15px;
}

.modal {
	display: block;

}

.modal-dialog {
	padding:60px;
	padding-top:25px;
	padding-bottom:0px;	
}

.modal-body {
	padding-bottom: 5px;
	padding-top:9px;
}

.modal-footer {
	padding: 9px 8px 8px;
	margin-top: 0px;
}


/**
 quick dirty trick to solve
    on forms and tables extra margin / padding

.modal-footer {
	margin-top:-20px;
}
*/


.glyphicon {
	color: #428bca;
}

p {
	font-size: 12px;
}

tr {
	cursor: pointer;
}

h5 {
	font-weight: bold;
	vertical-align: bottom;
}

.nav > li > a {
	padding: 6px 22px;
}

#selected_network {
	margin-bottom: 1.5em;
	counter-reset: v1 0;
	background: #edf9ff;
	border: 1px solid #c0d9e4;
	height: 40px;
}

.networklist {
	padding: 6px;
	background: #eeeeee;
	border: 1px solid #cccccc;
	min-height: 2em;
	width: auto !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.networklist li {
	list-style-type: none;
	margin: 6px auto;
	padding: 5px;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	line-height: 18px;
	border-radius: 3px;
	cursor: move;
	padding-left: 23px;
}

.networklist li em {
	font-size: 0.5em;
	line-height: 1em;
	color: #999999;
	font-style: normal;
	margin-left: 0.8em;
}

