/** 
  Wizard css extracted from Fuel UX, a bootstrap extension:
  http://exacttarget.github.io/fuelux/#wizard
*/

.wizard {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
}

.wizard:before,
.wizard:after {
  display: table;
  line-height: 0;
  content: "";
}

.wizard:after {
  clear: both;
}

.wizard ul {
  width: 4000px;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.wizard ul li {
  position: relative;
  float: left;
  height: 31px;
  padding: 0 20px 0 30px;
  margin: 0;
  line-height: 31px;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 1;
  display: block;
  border: 16px solid transparent;
  border-right: 0;
  border-left: 10px solid #d4d4d4;
}

.wizard ul li .chevron:before {
  position: absolute;
  top: -16px;
  right: 1px;
  display: block;
  border: 16px solid transparent;
  border-right: 0;
  border-left: 10px solid #ededed;
  content: "";
}

.wizard ul li.complete {
  color: #468847;
  background: #f3f4f5;
}

.wizard ul li.complete:hover {
  cursor: pointer;
  background: #e7eff8;
}

.wizard ul li.complete:hover .chevron:before {
  border-left: 10px solid #e7eff8;
}

.wizard ul li.complete .chevron:before {
  border-left: 10px solid #f3f4f5;
}

.wizard ul li.active {
  color: #ffffff;
  background-color: #428bca;
}

.wizard ul li.active .chevron:before {
  border-left: 10px solid #428bca;
}

.wizard ul li .badge {
  margin-right: 8px;
}

.wizard ul li:first-child {
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}