.table-fixed-height {
  height: 300px;
  overflow-y: auto;	
}

.table-head {
	margin-bottom: 0;
}

tr {
	cursor: pointer;
}

h5 {
	font-weight: bold;
	vertical-align: bottom;
}

.v-align-bottom {

}