@media (min-width: 600px) {
	.container {
		max-width: 1900px;
	}	
}

.navbar {
	margin-bottom: 0;
}

.table-fixed-height {
  height: 300px;
  overflow-y: auto;	
}

.table-head {
	margin-bottom: 0;
}

.menu-bar {
	height: 30px;

	margin:10px;
}

.main {
	padding-left: 40px;
	padding-right: 40px;
}

.right-bar, .left-bar {
    background-color: #f5f5f5;
    padding: 30px;
    color: gray;
	height: 650px;
}

tr {
	cursor: pointer;
}

h5 {
	font-weight: bold;
	vertical-align: bottom;
}

.nav > li > a {
	padding: 6px 22px;
}